//
// Copyright Total Processing. All rights reserved.
// See COPYING.txt for license details.

//
//  Common
//  _____________________________________________

.admin__payment-methods {
    .admin__payment-method-wrapper {
        &.opp-payment-wrapper {
            width: 100%;
            margin-top: 20px;
        }
    }
}

tr[id$="totalprocessing_opp_totalprocessing_opp_metadata"] {
    & > .label {
        display: none;
    }

    & > .value {
        padding-left: 4rem;

        .tp-opp-module-metadata {
            display: block;
            width: 100%;
            margin-bottom: 15px;

            .info {
                display: block;
                align-items: center;
                padding: 20px 12px;
                box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
                background: linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
                border-radius: 4px;

                .item {
                    width: 100%;
                    margin-top: 5px;
                    text-align: left;
                    overflow: hidden;

                    &:first-child {
                        margin-top: 0;
                    }

                    &-label {
                        color: #303030;
                        float: none;
                        font-size: 14px;
                        font-weight: 600;
                        display: inline-block;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    &-value {
                        display: inline-block;
                        float: right;
                        text-align: right;
                    }
                }
            }
        }
    }
}
.messages {
    &.totalprocessing-opp-apple-pay-messages {
        & > div {
            margin-bottom: 10px;
        }
    }
}

