<?php
/**
 * Copyright © Total Processing. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\Escaper;
use TotalProcessing\Opp\Block\Adminhtml\System\Config\Form\ApplePay\Metadata;

/**
 * @var Metadata $block
 * @var Escaper $escaper
 */
?>
<?php
$validationResults = $block->getValidationResults();
$isValidationResultsExits = count($validationResults);
$isErrorExist = false;
if ($isValidationResultsExits) {
    $isErrorExist = in_array('error', array_column($validationResults, 'status'));
}
?>
<div class="messages totalprocessing-opp-apple-pay-messages">
    <?php if ($isErrorExist): ?>
        <div class="message message-notice notice" data-role="apple-pay-message-header-notice">
            <div data-ui-id="messages-message-notice">
                <?= /* @noEscape */ __('Before you can activate <strong>Apple Pay</strong>, there are a few issues that need your attention.'); ?>
            </div>
        </div>
    <?php endif; ?>
    <?php foreach ($validationResults as $result): ?>
        <?php $status = (string)$result['status']; ?>
        <div class="message message-<?= /* @noEscape */ $status; ?> <?= /* @noEscape */ $status; ?>"
             data-role="<?= /* @noEscape */ $result['data-role']; ?>">
            <div data-ui-id="messages-message-<?= /* @noEscape */ $status; ?>">
                <?= /* @noEscape */ $result['message']; ?>
            </div>
        </div>
    <?php endforeach; ?>
</div>
