<?php
/**
 * Copyright © Total Processing. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\Escaper;
use TotalProcessing\Opp\Block\Adminhtml\System\Config\Form\Metadata;
use TotalProcessing\Opp\Helper\Metadata as HelperMetadata;

/**
 * @var Metadata $block
 * @var Escaper $escaper
 */

$metadata = $block->getMetadata();
?>

<div class="tp-opp-module-metadata">
    <div class="info">
        <div class="item">
            <strong class="item-label"><?= /* @noEscape */ __('Module Name: ')?></strong>
            <span class="item-value"><?= $escaper->escapeHtml(__($metadata[HelperMetadata::MODULE_METADATA_KEY_MODULE_NAME])); ?></span>
        </div>
        <div class="item">
            <strong class="item-label"><?= /* @noEscape */ __('Composer Package Name: ')?></strong>
            <span class="item-value"><?= $escaper->escapeHtml(__($metadata[HelperMetadata::MODULE_METADATA_KEY_NAME])); ?></span>
        </div>
        <div class="item">
            <strong class="item-label"><?= /* @noEscape */ __('Current Version: ')?></strong>
            <span class="item-value"><?= $escaper->escapeHtml(__($metadata[HelperMetadata::MODULE_METADATA_KEY_VERSION])); ?></span>
        </div>
    </div>
</div>
