<!--
/**
 * Copyright © Total Processing. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="attr: {class: 'payment-method payment-method-' + getCode()}, css: {'_active': isActive()}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- ko if: getPaymentIcon() -->
            <img data-bind="attr: {
                                    src: getPaymentIcon()['url'],
                                    alt: $t('ApplyPay Logo'),
                                    width: getPaymentIcon()['width'],
                                    height: getPaymentIcon()['height'],
                                    }"
                 class="payment-icon"/>
            <!-- /ko -->
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button data-button="applepay-place"
                        type="submit"
                        data-bind="
                            attr: {
                                id: getCode() + '_place_order',
                                title: $t('Pay')
                            },
                            enable: isButtonActive(),
                            click: beforePlaceOrder"
                        class="action primary checkout"
                        disabled>
                    <span data-bind="text: $t('Pay')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
