<!--
/**
 * Copyright © Total Processing. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="attr: {class: 'payment-method payment-method-' + getCode()}, css: {'_active': isActive() }, visible: isCountryAvailable(), blockLoader: isLoading() ">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible(), afterRender: initEventListeners()" />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
        <!-- ko if: (getIcons().length > 0) -->
        <ul class="credit-card-types">
            <!-- ko foreach: {data: getIcons(), as: 'icon'} -->
            <!-- ko if: (icon.url) -->
                <li class="item">
                    <img data-bind="attr: {
                            'src': icon.url,
                            'alt': icon.title,
                            'title': icon.title
                            }"/>
                </li>
            <!--/ko-->
            <!--/ko-->
        </ul>
        <!--/ko-->
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div if="isActive()">
            <iframe
                    id="totalprocessing_opp_iframe"
                    name="totalprocessing_opp_iframe"
                    width="100%"
                    height="0"
                    allow="midi 'src'; geolocation 'src'; microphone 'src'; camera 'src'; display-capture 'src'; encrypted-media 'src';"
                    data-bind="attr: {src: getSource(), style: getStyle()}, event: {load: iframeLoaded()}" >
            </iframe>
        </div>
        <div class="actions-toolbar" data-bind="visible: isVisible()">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placePendingPaymentOrder, enable: isActive()"
                        disabled>
                    <span data-bind="text: $t(getButtonText())"></span>
                </button>
            </div>
        </div>
    </div>
</div>
