<?php
/**
 * Copyright © Total Processing. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\View\Helper\SecureHtmlRenderer;
use TotalProcessing\Opp\Block\Adminhtml\Order\Create\Payment\Error;

/**
 * Process error template
 *
 * @var Error $block
 * @var SecureHtmlRenderer $secureRenderer
 */
?>
<style>
.message-error {
    background: #ffcccc;
    border: none;
    border-radius: 0;
    color: #333333;
    font-size: 1rem;
    margin: 0 0 1px;
    padding: 1.2rem 1.8rem;
    position: relative;
    text-shadow: none;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
</style>
<div role="alert" class="messages">
    <div class="message-error error message"><?= /* @noEscape */ $block->getData('error_message'); ?></div>
</div>
<?php
$scriptString = '';
    $scriptString .= <<<script
var require = window.top.require;
require(['jquery'], function($) {
    $('body').trigger('processStop');
});
script;
?>
<?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false) ?>

<?php if ($block->getData('reload')): ?>
    <p><?= /* @noEscape */ __('The page will be refreshed after 5 seconds.') ?></p>
    <?php $scriptString = <<<script
    let iframe = window.parent.document.getElementById("totalprocessing_opp_iframe");
    if (iframe) {
        iframe.style.height = "100px";
    }
    setTimeout(function() {
        window.parent.location.reload();
    }, 5000);
    script;
    ?>
    <?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false) ?>
<?php endif; ?>
