<?php
/**
 * Copyright © Total Processing. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\Escaper;
use TotalProcessing\Opp\Block\Adminhtml\Order\Create\Payment\Iframe as PaymentIframeBlock;
use TotalProcessing\Opp\ViewModel\Backend\Order\Create\Payment\IframeViewModel as PaymentIframeViewModel;
use Magento\Framework\View\Helper\SecureHtmlRenderer;

/**
 * @var Escaper $escaper
 * @var PaymentIframeBlock $block
 * @var PaymentIframeViewModel $viewModel
 * @var SecureHtmlRenderer $secureRenderer
 */

/** @var PaymentIframeViewModel $viewModel */
$viewModel = $block->getData('paymentIframeViewModel');
$storeId = $block->getStoreId();
?>
<script src="<?= $viewModel->getPaymentWidgetsUrl($storeId); ?>"></script>
<script>
    function postMessage(iframeDoc, iframeHeight, isPlaceOrderVisible, editFormValidation, contextEvent) {
        let event;
        let data = {
            "iframeDoc": iframeDoc,
            "iframeHeight": iframeHeight,
            "isVisible": isPlaceOrderVisible,
            "editFormValidation": editFormValidation,
            "contextEvent": contextEvent,
            "placeOrder": false
        }

        if (typeof window.CustomEvent === "function") {
            event = new CustomEvent('iframe', {detail: data});
        } else {
            event = document.createEvent('Event');
            event.initEvent('iframe', true, true);
            event.detail = data
        }

        window.parent.document.dispatchEvent(event);
    }

    function getHeight(isAfterSubmit = false) {
        let height = Math.max(
            document.body.scrollHeight,
            document.body.offsetHeight,
            document.documentElement.clientHeight,
            document.documentElement.scrollHeight,
            document.documentElement.offsetHeight
        );

        if (isAfterSubmit) {
            height = Math.round(height * 1.5);
        }

        height += 50;

        return Math.round(height);
    }

    var wpwlOptions = {
        onReady: function () {
            // inject custom script from admin panel
            <?= $viewModel->getOnReadyCustomScript($storeId) ?>

            // inject custom css from admin panel
            $("head link[rel='stylesheet']").last().after(
                "<style rel='stylesheet' type='text/css' media='all'>" +
                "<?= $viewModel->getStyleOptionsCustomIframeCss($storeId) . ' ' . $viewModel->getStyleOptionsDefault($storeId) ?>" +
                "<\/script>"
            );
            let __self = this;

            <?php if ($viewModel->isVaultEnabled($storeId) && !$viewModel->isSchedulerActive()): ?>
            $('form.wpwl-form-card').find('.wpwl-button').before(
                '<div class="customLabel"><?= __("Store payment details?")?></div>' +
                '<div class="customInput"><input type="checkbox" name="createRegistration" value="true" /></div>'
            );
            <?php endif; ?>

            $('button').on("click.wpwlEvent", function () {
                setTimeout(function () {
                    postMessage(__self.document, getHeight(), false);
                }, 100);
            });

            $('.wpwl-container-card, .wpwl-container-registration')
                .find('.wpwl-button-pay')
                .html('<?= $viewModel->getPaymentBtnText($storeId);?>');

            postMessage(this.document, 0, false);
        },
        onBeforeSubmitCard: function (event) {
            postMessage(this.document, 0, false, true, event);
            return event.valid;
        },
        onAfterSubmit: function () {
            postMessage(this.document, getHeight(true), false);
        },
        onReadyIframeCommunication: function () {
            postMessage(this.document, getHeight(), false);
        },
        registrations: {
            requireCvv: true,
            hideInitialPaymentForms: true
        },
        brandDetection: true,
        brandDetectionType: "binlist",
        brandDetectionPriority: [<?= $viewModel->getBrandsDetectionString($storeId) ?>],
        disableSubmitOnEnter: true,
        locale: "<?= $viewModel->getLocale($storeId); ?>",
        paymentTarget: "totalprocessing_opp_iframe",
        shopperResultTarget: "totalprocessing_opp_iframe",
        style: "<?= $viewModel->getStyleOption($storeId); ?>"
    }
</script>
<form
    class="paymentWidgets"
    action="<?= $viewModel->getRedirectUrl(); ?>"
    data-brands="<?= $viewModel->getBrands($storeId); ?>">
</form>
