<?php
/**
 * Copyright © Total Processing. All rights reserved.
 * See COPYING.txt for license details.
 */

use TotalProcessing\Opp\Block\Form;

/**
 * @var Form $block
 */
?>
<div id="order-opp_payment_iframe_messages" style="display: none">
    <div class="messages">
        <div class="message message-error error">
            <div data-ui-id="message-message-error"
                 data-role="text"></div>
        </div>
    </div>
</div>
<div id="order-opp_payment_iframe_source" class="admin__page-section-item opp-payment-iframe-source"></div>
