<?php
/**
 * Copyright © Total Processing. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\Escaper;
use TotalProcessing\Opp\Block\Adminhtml\Order\Create\Transparent\Redirect;

/**
 * @var Redirect $block
 * @var Escaper $escaper
 */

$params = $block->getParams();
$redirectUrl = $block->getRedirectUrl();
?>

<html>
<head></head>
<body onload="document.forms['proxy_form'].submit()">
<form id="proxy_form" action="<?= $escaper->escapeUrl($redirectUrl) ?>"
      method="POST" hidden enctype="application/x-www-form-urlencoded" class="no-display">
    <?php foreach ($params as $name => $value):?>
        <input value="<?= $escaper->escapeHtmlAttr($value) ?>"
               name="<?= $escaper->escapeHtmlAttr($name) ?>"
               type="hidden"/>
    <?php endforeach?>
</form>
</body>
</html>
